/*.jumbotron {
	background-color : blue;
}*/


#gifArea{
	display: flex;
	flex-wrap: wrap;
	background-color: red;

}

.imageWrapper {
	padding-right: 15px;
	padding-bottom: 15px;
}

.gifImage{
	margin-top: 15px;
	padding: 5px;
}

p{
	text-align: center;
}